<div class="w-full h-full px-5 flex flex-col gap-6">

  <section>
    <img src="../../../../assets/images/banner.png" alt="banner">
  </section>

  <section class="flex overflow-x-auto gap-3">
    <button class="text-nowrap bg-[#548482] rounded-lg p-2 flex justify-center items-center text-white active:bg-[#24625F]">Sensores de humedad</button>
    <button class="text-nowrap bg-[#548482] rounded-lg p-2 flex justify-center items-center text-white active:bg-[#24625F]">Ventiladores</button>
    <button class="text-nowrap bg-[#548482] rounded-lg p-2 flex justify-center items-center text-white active:bg-[#24625F]">Iluminacion</button>
    <button class="text-nowrap bg-[#548482] rounded-lg p-2 flex justify-center items-center text-white active:bg-[#24625F]">Estado del sistema de riego</button>
  </section>

  <section class="w-full bg-[#5A8987] text-white text-center py-2 px-5 rounded-lg">
    <span>Estado del sistema de riego</span>
  </section>

  <section class="flex flex-col items-center justify-center h-[calc(100%-270px)]">
    <div class="bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/sistema_riego.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Estado del riego sistema de riego principal
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold">
        <span>Encendido</span>
      </div>
    </div>
  </section>
</div>