<div class="w-full h-full background-auth flex flex-col gap-10 items-center justify-center px-8">
  <div class="flex flex-col gap-4 items-center justify-center">
    <span class="font-bold text-3xl text-white">Iniciar sesi&oacute;n</span>
    <p class="text-center text-white">¡Bienvenido a Invernadero! Accede para gestionar tu invernadero.</p>
  </div>

  <div class="flex items-center gap-4">
    <button class="flex items-center gap-2 rounded-xl py-2 px-6 bg-[#004340] text-white">
      <img src="../../../assets/images/facebook_icon.png" alt="facebook icon" class="w-8 h-8">
      Facebook
    </button>

    <button class="flex items-center gap-2 rounded-xl py-2 px-6 bg-[#004340] text-white">
      <img src="../../../assets/images/google_icon.png" alt="google icon" class="w-8 h-8">
      Google
    </button>
  </div>

  <div class="w-full flex gap-2 items-center">
    <span class="border-[#ffffff66] border-b-2 w-full"></span>
    <span class="text-white">Or</span>
    <span class="border-[#ffffff66] border-b-2 w-full"></span>
  </div>

  <form class="flex flex-col gap-4 w-full">
    <div class="px-2 py-4 rounded-xl bg-[#f5f9fe4d] w-full">
      <input type="text" class="px-2 w-full outline-none border-none bg-transparent text-white placeholder:text-white" placeholder="Correo electronico">
    </div>

    <div class="px-2 py-4 rounded-xl bg-[#f5f9fe4d] w-full">
      <input type="password" class="px-2 w-full outline-none border-none bg-transparent text-white placeholder:text-white" placeholder="Contraseña">
    </div>

    <a routerLink="/auth/forgot-password" class="text-end text-white">Olvidaste tu contraseña?</a>

    <button class="py-4 px-4 text-lg rounded-lg text-white bg-[#085652] active:top-[1px] relative">Iniciar sesi&oacute;n</button>
    <a routerLink="/auth/register" class="font-light text-white">No tienes cuenta? <b class="text-[#009c51]">registrate aqui.</b></a>
  </form>
  
</div>