<div class="w-full h-full background-auth flex flex-col gap-10 items-center justify-center px-8">
  <div class="flex flex-col gap-4 items-center justify-center">
    <span class="font-bold text-3xl text-white">Registrarse</span>
    <p class="text-center text-white">¡Bienvenido a Invernadero! Registrate para gestionar tu invernadero.</p>
  </div>

  <div class="flex items-center gap-4">
    <button class="flex items-center gap-2 rounded-xl py-2 px-6 bg-[#004340] text-white">
      <img src="../../../assets/images/facebook_icon.png" alt="facebook icon" class="w-8 h-8">
      Facebook
    </button>

    <button class="flex items-center gap-2 rounded-xl py-2 px-6 bg-[#004340] text-white">
      <img src="../../../assets/images/google_icon.png" alt="google icon" class="w-8 h-8">
      Google
    </button>
  </div>

  <div class="w-full flex gap-2 items-center">
    <span class="border-[#ffffff66] border-b-2 w-full"></span>
    <span class="text-white">Or</span>
    <span class="border-[#ffffff66] border-b-2 w-full"></span>
  </div>

  <form class="flex flex-col gap-4 w-full">
    <div class="px-2 py-4 rounded-lg bg-[#f5f9fe4d] w-full">
      <input type="text" class="px-2 w-full outline-none border-none bg-transparent text-white placeholder:text-white" placeholder="Nombre">
    </div>

    <div class="px-2 py-4 rounded-lg bg-[#f5f9fe4d] w-full">
      <input type="text" class="px-2 w-full outline-none border-none bg-transparent text-white placeholder:text-white" placeholder="Correo electronico">
    </div>

    <div class="px-2 py-4 rounded-lg bg-[#f5f9fe4d] w-full">
      <input type="password" class="px-2 w-full outline-none border-none bg-transparent text-white placeholder:text-white" placeholder="Contraseña">
    </div>

    <div class="flex items-center gap-4">
      <input type="checkbox" name="legacy-terms" id="terms">
      <label for="terms" class="text-start font-light text-white">Estoy de acuerdo con las <b class="text-[#009c51]">condiciones de servicio</b> y <b class="text-[#009c51]">políticas de privacidad</b></label>
    </div>

    <button class="py-4 px-4 text-lg rounded-lg bg-[#085652] active:top-[1px] relative text-white">Crear Cuenta</button>
    <a routerLink="/auth/login" class="font-light text-white">Ya tiene una cuenta? <b class="text-[#009c51]">Inicia sesion</b></a>
  </form>
  
</div>