<section class="flex flex-col h-[calc(100%-270px)] gap-5">
    
  <section class="w-full bg-[#5A8987] text-white text-center py-2 px-5 rounded-lg">
    <span>Estado del la iluminaci&oacute;n</span>
  </section>

  <section class="grid grid-cols-2 gap-4">
    <div class="col-span-1 bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] min-h-44 to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/iluminacion.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Estado de la iluminacion <br/>A
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold flex items-center justify-center gap-2">
        <span class="rounded-full h-2 w-2 bg-green-500"></span>
        <span>Encendido</span>
      </div>
    </div>

    <div class="col-span-1 bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] min-h-44 to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/iluminacion.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Estado de la iluminacion <br/>B
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold flex items-center justify-center gap-2">
        <span class="rounded-full h-2 w-2 bg-green-500"></span>
        <span>Encendido</span>
      </div>
    </div>

    <div class="col-span-1 bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] min-h-44 to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/iluminacion.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Estado de la iluminacion <br/>C
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold flex items-center justify-center gap-2">
        <span class="rounded-full h-2 w-2 bg-green-500"></span>
        <span>Encendido</span>
      </div>
    </div>

    <div class="col-span-1 bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] min-h-44 to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/iluminacion.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Estado de la iluminacion <br/>D
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold flex items-center justify-center gap-2">
        <span class="rounded-full h-2 w-2 bg-green-500"></span>
        <span>Encendido</span>
      </div>
    </div>
  </section>
</section>