<section class="flex flex-col h-full gap-5">
    
  <section class="w-full bg-[#5A8987] text-white text-center py-2 px-5 rounded-lg">
    <span>Sensores de humedad</span>
  </section>

  <section class="grid grid-cols-2 gap-4 overflow-y-auto">
    <div class="col-span-1 bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] min-h-44 to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/humedad.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Humedad del aire en la seccion <br/>A
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold flex items-center justify-center gap-2">
        <span class="rounded-full h-2 w-2 bg-green-500"></span>
        <span>50%</span>
      </div>
    </div>

    <div class="col-span-1 bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] min-h-44 to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/humedad.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Humedad del aire en la seccion <br/>B
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold flex items-center justify-center gap-2">
        <span class="rounded-full h-2 w-2 bg-green-500"></span>
        <span>40%</span>
      </div>
    </div>

    <div class="col-span-1 bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] min-h-44 to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/temperatura.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Temperatura de la seccion <br/>C
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold flex items-center justify-center gap-2">
        <span class="rounded-full h-2 w-2 bg-green-500"></span>
        <span>24 °C</span>
      </div>
    </div>

    <div class="col-span-1 bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] min-h-44 to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/temperatura.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Temperatura de la seccion <br/>D
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold flex items-center justify-center gap-2">
        <span class="rounded-full h-2 w-2 bg-green-500"></span>
        <span>24 °C</span>
      </div>
    </div>

    <div class="col-span-1 bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] min-h-44 to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/humedad_suelo.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Humedad del suelo de la seccion <br/>A
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold flex items-center justify-center gap-2">
        <span class="rounded-full h-2 w-2 bg-green-500"></span>
        <span>40%</span>
      </div>
    </div>

    <div class="col-span-1 bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] min-h-44 to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/humedad_suelo.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Humedad del suelo de la seccion <br/>B
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold flex items-center justify-center gap-2">
        <span class="rounded-full h-2 w-2 bg-green-500"></span>
        <span>60%</span>
      </div>
    </div>

    <div class="col-span-1 bg-gradient-to-b from-[#ffffff] to-[#014946] rounded-xl">
      <div class="p-2 bg-gradient-to-b from-[#C7D6D5] min-h-44 to-[#C7D6D5] rounded-xl">
        <div class="bg-[#014946] flex justify-center items-center rounded-lg py-3">
          <img src="../../../../assets/images/co2.png" alt="sistema de riego">
        </div>
  
        <span class="py-2 block text-center text-sm">
          Calidad del aire
        </span>
      </div>
  
      <div class="p-2 text-center text-white font-semibold flex items-center justify-center gap-2">
        <span class="rounded-full h-2 w-2 bg-green-500"></span>
        <span>Buena</span>
      </div>
    </div>
  </section>
</section>