<div class="w-full h-full flex flex-col">
  <section class="h-16 flex items-center justify-between px-8">
    <button class="bg-white shadow-custom rounded-full size-9">
      <i class="ri-search-2-line text-[#B3B3B3] text-xl"></i>
    </button>

    <button class="relative">
      <span class="absolute top-[2px] -right-2 size-2 rounded-full bg-green-500"></span>
      <img class="size-9 rounded-full shadow-custom" src="./assets/images/profile.jpg" alt="profile">
    </button>
  </section>


  <router-outlet />
</div>