<div class="w-full h-full flex flex-col background-auth background-auth-white">
  <section class="h-16 flex items-center justify-between px-8">
    <span class="text-lg font-medim">Bienvenido <b class="font-semibold text-[#0d4542]">Miguel Bissuett</b></span>
    <button class="relative">
      <span class="absolute top-[2px] -right-2 size-2 rounded-full bg-green-500"></span>
      <img class="size-9 rounded-full shadow-custom" src="./assets/images/profile.jpg" alt="profile">
    </button>
  </section>

  <section class="h-[calc(100%-128px)]">
    <router-outlet />
  </section>

  <section class="h-16 flex justify-between px-6 shadow-downbar bg-white relative">
    <button class="text-3xl text-[#B3B3B3] relative">
      <i class="ri-remote-control-line"></i>
    </button>
    <button class="text-3xl text-[#B3B3B3] relative" routerLink="/greenhouse/sensors" routerLinkActive="rounded-xl text-black -top-10 bg-white px-4 py-2 shadow-button-home">
      <i class="ri-sensor-line"></i>
    </button>
    <button class="text-3xl text-[#B3B3B3] relative" routerLink="/greenhouse/users" routerLinkActive="rounded-xl text-black -top-10 bg-white px-4 py-2 shadow-button-home">
      <i class="ri-group-line"></i>
    </button>
    <button class="text-3xl text-[#B3B3B3] relative" routerLink="/greenhouse/home" routerLinkActive="rounded-xl text-black -top-10 bg-white px-4 py-2 shadow-button-home">
      <i class="ri-home-3-line"></i>
    </button>
    <button class="text-3xl text-[#B3B3B3] relative" routerLink="/greenhouse/history" routerLinkActive="rounded-xl text-black -top-10 bg-white px-4 py-2 shadow-button-home">
      <i class="ri-history-line"></i>
    </button>
    <button class="text-3xl text-[#B3B3B3] relative" routerLink="/greenhouse/water" routerLinkActive="rounded-xl text-black -top-10 bg-white px-4 py-2 shadow-button-home">
      <i class="ri-water-percent-line"></i>
    </button>
    <button class="text-3xl text-[#B3B3B3] relative" routerLink="/greenhouse/settings" routerLinkActive="rounded-xl text-black -top-10 bg-white px-4 py-2 shadow-button-home">
      <i class="ri-list-settings-line"></i>
    </button>
  </section>
</div>