<div class="w-full h-full background-auth background-auth-green flex flex-col gap-10 items-center px-8 pt-44">
  <div class="flex flex-col gap-4 items-center justify-center">
    <p class="text-center text-white text-3xl font-bold">Olvidaste tu contraseña?</p>
    <p class="text-center text-white">¡Bienvenido a Invernadero! Ingresa tu
      correo electronico para recibir tu nueva acceso al cambio de tu contraseña.</p>
  </div>

  <form class="flex flex-col gap-4 w-full">
    <div class="px-2 py-4 rounded-xl bg-[#f5f9fe4d] w-full">
      <input type="text" class="px-2 w-full outline-none border-none bg-transparent text-white placeholder:text-white" placeholder="Correo electronico">
    </div>

    <button class="py-4 px-4 text-lg rounded-xl bg-[#085652] active:top-[1px] relative text-white">Recuperar contraseña</button>
  </form>
  
</div>