<section class="h-full w-full flex flex-col gap-8 px-5">

  <section class="w-full bg-[#5A8987] text-white text-center py-2 px-5 rounded-lg">
    <span>Usuarios registrados</span>
  </section>

  <section class="grid grid-cols-2 gap-4">
    <div class="our-team col-span-1">
      <div class="picture">
        <img class="h-full w-full object-cover" src="../../../../assets/images/miguelbissuett.jpeg">
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-white text-xl">Miguel Bissuett</h3>
        <h4 class="text-white">Administrador</h4>
      </div>
    </div>
  
    <div class="our-team col-span-1">
      <div class="picture">
        <img class="h-full w-full object-cover" src="../../../../assets/images/miguelbissuett.jpeg">
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-white text-xl">Miguel Bissuett</h3>
        <h4 class="text-white">Administrador</h4>
      </div>
    </div>
  
    <div class="our-team col-span-1">
      <div class="picture">
        <img class="h-full w-full object-cover" src="../../../../assets/images/miguelbissuett.jpeg">
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-white text-xl">Miguel Bissuett</h3>
        <h4 class="text-white">Administrador</h4>
      </div>
    </div>
  
    <div class="our-team col-span-1">
      <div class="picture">
        <img class="h-full w-full object-cover" src="../../../../assets/images/miguelbissuett.jpeg">
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-white text-xl">Miguel Bissuett</h3>
        <h4 class="text-white">Administrador</h4>
      </div>
    </div>
  </section>
</section>